export(geem2)
export(mmmgee)
export(mmmgee.test)
import(mvtnorm)
import(Matrix)
importFrom("methods", "as")
importFrom("stats", "family", "gaussian", "median", 
		"model.frame", "model.matrix", "model.offset",
		"model.response", "na.pass", "pnorm", "terms",
		"coef", "lm", "pchisq", "pf")
S3method(summary,geem2)
S3method(print,geem2)
S3method(fitted,geem2)
S3method(print,summary.geem2)
S3method(predict,geem2)
S3method(coef,geem2)
S3method(family,geem2)
S3method(print,mmmgeetest)